@using Version2.Data.Models
@model CreateorEditEmployeeDto
 
@using (Html.AjaxBeginForm("Save", "Employee", new AjaxOptions
{
    OnFailure="OnFailure",
     OnSuccess = "OnSuccess"
}  
 ))
{
    @Html.Hidden("Id", Model.Id)
    <div class="form-group">
    <div class="row">
        <div class="col-md-1">
                <label class="form-label" >Number  </label>
        </div>
        <div class="col-md-6">
                <input class="form-control" type="text" name="EmployeeNumber" value="@Model.EmployeeNumber" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Name  
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" id="EmployeeName" name="EmployeeName" value="@Model.EmployeeName" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Company
        </div>
        <div class="col-md-6">
                @await Component.InvokeAsync("CompanyDropdown", new { companyselected =Model.Company})
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Department
        </div>
        <div class="col-md-6">
                <input class="form-control" type="text" id="Department" name="Department" value="@Model.Department" required />
        </div>
    </div>
@*    <div class="row">
        <div class="col-md-1">
            Rate 
        </div>
        <div class="col-md-6">
            <input class="form-control" type="number" id="Rate" name="Rate" value="@Model.Rate" required />
        </div>
    </div>*@
    <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <div id="result" class="alert-danger"></div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-danger" href=@Url.ActionLink( "Index", "Employee" )>Cancel</a>
        </div>

    </div>
   </div>
}
            
<script type="text/javascript">

    function OnFailure(response) {
        $('#result').text(response.responseText);
    }
    function OnSuccess(response) {
        window.location.href = "@Url.ActionLink( "Index", "Employee" )"
    }
</script>




